# Managed by Ansible (github_runner role).
# Root-only minting parameters for /usr/local/bin/mint-jit.sh.
GITHUB_ORG={{ github_runner_org }}
GITHUB_REPO={{ github_runner_repo }}
GITHUB_APP_CLIENT_ID={{ github_runner_app_client_id }}
RUNNER_LABELS={{ github_runner_labels }}
